@font-face {
  font-family: "iconfont"; /* Project id 3888871 */
  src: url('iconfont.woff2?t=1675994629384') format('woff2'),
       url('iconfont.woff?t=1675994629384') format('woff'),
       url('iconfont.ttf?t=1675994629384') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-favorite::before {
  content: "\e66f";
}

.icon-search:before {
  content: "\e67d";
}

.icon-maichepin:before {
  content: "\e603";
}

.icon-aichegujiabeifen12:before {
  content: "\e604";
}

.icon-gerenzhongxin-zhihui:before {
  content: "\e61e";
}

.icon-a-xiala2:before {
  content: "\e621";
}

.icon-jinru:before {
  content: "\e622";
}

.icon-xiala:before {
  content: "\e623";
}

